@model IEnumerable<DAl.professor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<form>
    <input type="text" name="text" class="text-danger" />
    <input type="submit" value="search" />
</form>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Id_Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, Name = item.Name, Phone_Number = item.Phone_Number, FK_Id_Department = item.FK_Id_Department, Address = item.Address, Email = item.Email, password=item.password }) |
         
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, Name = item.Name, Phone_Number = item.Phone_Number, FK_Id_Department = item.FK_Id_Department, Address = item.Address, Email = item.Email, password = item.password })
        </td>
    </tr>
}

</table>
